
ModelePrv/.classpath

ModelePrv/.settings/org.eclipse.wst.common.project.facet.core.xml

ModelePrv/.settings/org.eclipse.wst.common.component

ModelePrv/.settings/org.eclipse.m2e.core.prefs

ModelePrv/.settings/org.eclipse.jdt.core.prefs

ModelePrv/.settings/org.eclipse.core.resources.prefs

ModelePrv/.settings/org.eclipse.ajdt.core.prefs

ModelePrv/.project

ModelePrv/.gitignore

PresentationPrv/.classpath

PresentationPrv/.project

PresentationPrv/.gitignore

PresentationPrv/.settings/.jsdtscope

PresentationPrv/.settings/org.eclipse.jdt.core.prefs

PresentationPrv/.settings/org.eclipse.m2e.core.prefs

PresentationPrv/.settings/org.eclipse.wst.common.project.facet.core.xml

PresentationPrv/.settings/org.eclipse.wst.common.component

PresentationPrv/.settings/org.eclipse.wst.jsdt.ui.superType.container

PresentationPrv/.settings/org.eclipse.wst.jsdt.ui.superType.name

PresentationPrv/.settings/org.eclipse.wst.validation.prefs
